@using Flierefluiter.Reception.Models
@model ReserveringModel

@{
    ViewBag.Title = "ReserveringToevoegen";
}

<h2>Reservering toevoegen</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Reservering.Naam, "Volledige Naam", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Reservering.Naam)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservering.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Reservering.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservering.Telnr, "Telefoonnummer", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Reservering.Telnr)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Reservering.BeginDatum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservering.BeginDatum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservering.BeginDatum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Reservering.EindDatum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reservering.EindDatum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Reservering.EindDatum, "", new { @class = "text-danger" })
        </div>
    </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Reservering.AantalPersonen, "Aantal personen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Reservering.AantalPersonen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Reservering.PlaatsId, "Plaats", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Reservering.PlaatsId, new SelectList(Model.Plaatsen, "PlaatsId", "NaamPlaats"), "-Selecteer het gewenste Plaats-")
            </div>
        </div>

        <p>
            <button type="submit">Reserveren</button>
        </p>
}