@model Flierefluiter.Reception.Models.BoekingViewModel

@{
    ViewBag.Title = "ReserveringList";
}

<h2>Lijst alle reserveringen</h2>

<p>
    @Html.ActionLink("Reservering Aanmaken", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.Telnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.BeginDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.EindDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reserv.AantalPersonen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Resveringens) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telnr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EindDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AantalPersonen)
        </td>
        <td>
            @Html.ActionLink("Aanpassen", "EditReservation", new { id=item.ReserveringID }) |
            @Html.ActionLink("Omzetten in een boeking", "AddBoeking", new { id=item.ReserveringID }) |
            @Html.ActionLink("Verwijderen", "DeleteResView", new { id=item.ReserveringID })
        </td>
    </tr>
}

</table>
